$color1:#127CA6;
$color2: #F26835;
$color3: #F28B30;
$color4:#25D9B8;
$color5: #D93250;
$color6: black;

// // //fonts
$mainFont: 'Nunito Sans', sans-serif;
$secondaryFont:'Roboto', sans-serif;

// // //sizing
$textSm: 24px;
$textMd: 26px;
$textLg: 30px;

p{
    font-family: $mainFont;
}
